<!-- Extend our site layout -->
{% extends "layout.html" %}

<!-- Include our common macro set -->
{% import "macros.jnj" as common %}

<!-- Display a label for a field -->
{% macro display_label(name) -%}
  {% if name -%}
    <div class="span" style="width: 80px;">{{ name }}:</div>
  {% endif -%}
{% endmacro -%}

<!-- Display a field's value -->
{% macro display_value(record, key) -%}
  {% if(email) -%}
    <div class="span" style="display: inline-block">{{ record[key] }}</div>
  {% endif -%}
{% endmacro -%}

<!-- Display a list of emails across a span, as in to/from/cc/bcc/reply_to -->
{% macro display_emails(key, name) -%}
  {% if email[key] %}
  <div class="row">
    {{ display_label(name) }}
    {% for email in email[key] -%}
      {{ display_value(email, 'ARRAY_ELEM') }}
    {% endfor -%}
  </div>
  {% endif -%}
{% endmacro -%}

<!-- Display other fields as wider spans -->
{% macro display_field(key, name) -%}
  {% if email[key] -%}
    <div class="row">
      {{ display_label(name) }}
      {{ display_value(email, key) }}
    </div>
  {% endif -%}
{% endmacro -%}

<!-- Link to another message ID -->
{% macro display_reply_to(key, name) %}
  {% if email[key] %}
    <div class="row">
      {{ display_label(name) }}
      {% for email in email[key] -%}
        {{ common.display_link('<' + email['ARRAY_ELEM'] + '>', '/email', email['ARRAY_ELEM'])|safe }}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

<!-- Convert the carriage returns in a message body to HTML endlines -->
{% macro convert_body(body) -%}
  {{ body.replace('\r\n', '<br />')|safe }}
{% endmacro -%}

<!-- Display the email body -->
{% macro display_body(record) -%}
  {% if(record['body']) -%}
  <div class="row">
    <div class="span" style="display: inline-block; margin-top: 20px; background-color: #F7F7F7; padding: 10px;">
      {{ convert_body(record['body']) }}
    </div>
  </div>
  {% endif -%}
{% endmacro -%}

<!-- Block in which content appears in superclass - layout.html -->
{% block content -%}
  {{ display_field('message_id', 'ID') }}
  
  {{ display_emails('from', 'From') }}
  {{ display_emails('to', 'To') }}
  {{ display_emails('cc', 'Cc') }}
  {{ display_emails('bcc', 'Bcc') }}
  {{ display_emails('reply_to', 'Reply-To') }}
  
  {{ display_reply_to('in_reply_to', 'In-Reply-To') }}
  {{ display_field('date', 'Date') }}
  {{ display_field('subject', 'Subject')}}
  
  {{ display_body(email) }}
{% endblock -%}