<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Agile Data Inbox</title>
    <meta name="description" content="Agile Data Examples">
    <meta name="author" content="Russell Jurney">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/static/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding: 50px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
  </head>
  <body>
        <div class="navbar navbar-fixed">
          <div class="navbar-inner">
            <div class="container">
              <a class="brand" href="#">Agile Data Inbox</a>
              <ul class="nav">
                <li class="active"><a href="/email">Home</a></li>
                <form class="navbar-search">
                    <input type="text" class="search-query span3" placeholder="Search">
                </form>
              </ul>
            </div>
          </div>
        </div>

    <div class="container">
      <section id="responsive" style="text-align: center">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit" style="background-color: white; border:1px solid #ccc; text-align: left; display: inline-block; margin: auto;">
          {% block content %}{% endblock %}
        </div>
      </section>
    </div> <!-- /container -->
  </body>
</html>
